body {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, Verdana, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cell {
    width: 200px;
}

.header-cell {
    width: 200px;
    position: relative;
}

.row {
    display: flex;
    margin-top: 5px;
}

.header-row {
    display: flex;
    height: 14px;
}

.resize-icon {
    position: absolute;
    right: 0;
    flex-grow: 0;
    z-index: 1;
    width: 1px;
    margin-left: -3px;
    margin-top: -1px;
    height: 14px;
    background: #CCCC;
    cursor: col-resize;
}
.resize-icon:hover{
    background: black;
}