body {
    color: #2d2d2d;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, Verdana, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

.app__wrapper {
    display: flex;
}