.cell {
    flex: 1 0 auto;
    min-height: 17px;
    padding: 2px 2px 2px 2px;
    user-select: none;
}

.cell__input {
    background: white;
    box-sizing: border-box;
    line-height: 17px;
    padding: 0;
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
    height: 17px;
    word-break: break-word;
    color: #2d2d2d;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, Verdana, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cell_isDragged {
    opacity: 0.5;
}

.cell_isBold {
    font-weight: 700;
}

.cell_isBold > .cell__input {
    font-weight: 700;
}

.cell_isSubtile {
    color: #CCCCCC;
}

.cell_isSubtile > .cell__input {
    color: #CCCCCC;
}