.cell {
    width: 200px;
    cursor: pointer;
    flex: 1 0 auto;
    min-height: 17px;
    padding: 2px 2px 2px 2px;
}

.cell-isActive {
    box-shadow:0 0 0 1px #009ADE inset;
}

.cell__resize-icon {
    position: absolute;
    right: 0;
    flex-grow: 0;
    z-index: 1;
    width: 1px;
    margin-left: -3px;
    margin-top: -1px;
    height: 14px;
    background: #CCCC;
    cursor: col-resize;
}

.cell__resize-icon:hover {
    background: black;
}

.cell__input {
    box-sizing: border-box;
    line-height: 17px;
    padding: 0;
    border: none;
    width: 200px;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
    background: white;
    height: 17px;
    color: #2d2d2d;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, Verdana, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}