.cell {
    width: 200px;
}

.cell__resize-icon {
    position: absolute;
    right: 0;
    flex-grow: 0;
    z-index: 1;
    width: 1px;
    margin-left: -3px;
    margin-top: -1px;
    height: 14px;
    background: #CCCC;
    cursor: col-resize;
}

.cell__resize-icon:hover{
    background: black;
}