.headerCell {
    width: 200px;
    flex: 1 0 auto;
    position: relative;
    padding: 2px 2px 2px 2px;
    user-select: none;
}

.headerCell__resizer {
    position: absolute;
    top: 0;
    right: 0;
    flex-grow: 0;
    z-index: 1;
    margin-left: -3px;
    margin-top: -1px;
    color: #CCCC;
    cursor: col-resize;
    display: inline-block;
    text-align: center;

    width: 10px;
    height: 100%;
    transform: translateX(50%);
}


.headerCell__filler {
    width: 100%;
    height: 100%;
}

.headerCell_isSelected {
    background: #009ADE;
    height: 14px;
    position: relative;
    top: 5px;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 3px 3px 0 0;
}
