@import "color.module.scss";

.headerCell {
    width: 200px;
    flex: 1 0 auto;
    position: relative;
    padding: 2px 2px 2px 2px;
    user-select: none;
}

.headerCell__resizer {
    position: absolute;
    top: 0;
    right: 0;
    flex-grow: 0;
    z-index: 1;
    color: $color-light-gray;
    cursor: col-resize;
    display: inline-block;
    text-align: center;

    width: 10px;
    height: 100%;
    transform: translateX(50%);
}


.headerCell__resizer_isSelected{
    opacity: 0;
}

.headerCell__filler {
    height: 100%;
    text-align: center;
    vertical-align: center;
    color: white;
    line-height: 100%;
}

.headerCell_isSelected {
    background: $color-blue;
    height: 14px;
    position: relative;
    top: 5px;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 3px 3px 0 0;
}
