.row {
    display: flex;
}

.headerRow {
    display: flex;
    height: 23px;
    line-height: 23px;
    width: inherit;
    margin-bottom: 5px;
    position: sticky;
    top: 0;
    background: white;
    /*box-shadow: 0px 2px 4px #EAEAEA;*/
}
