.sheet {
    padding-left: 1px;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.sheet_isReadonly::-webkit-scrollbar {
    display: none;
}

.sheet_isReadonly{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sheet__row {
    display: flex;
}

.sheet__headerRow {
    display: flex;
    height: 23px;
    line-height: 23px;
    width: inherit;
    top: 0;
    position: sticky;
    background: white;
}
