@import "color.module.scss";

.toolbar {
  height: 50px;
  background: $color-toolbar;
  top: 0;
  left: 252px;
  width: calc(100vw - 252px);
  border-bottom: 1px solid $color-border;
  user-select: none;
  -webkit-app-region: drag;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.toolbar__left, .toolbar__middle, .toolbar__right {
  align-items: center;
  display: flex;
}

.toolbar__left {
  flex-basis: 205px;
}

.toolbar__right {
  justify-content: flex-end;
  flex-grow: 1;
}

.toolbar__item {
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: $color-toolbar-button;

  &:hover {
    background: $color-border;
  }
}

.toolbar__item_isHighlighted {
  animation: coolDown 2s normal cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

@keyframes coolDown {
  from {
    background-color: $color-light-gray;
  }
  to {
    background-color: $color-border
  }
}


.toolbar__plusIcon {
  width: 14px;
  height: 14px;
}

.toolbar__diceIcon {
  display: inline-flex;
  align-self: center;
  width: 17px;
  height: 16px;
  position: relative;
  top: -1px;
  margin-right: 2px;
}

.toolbar__iconWrapper {
  display: inline-flex;
  align-self: center;
}
