@import "color.module.scss";

.toolbar {
  height: 50px;
  background: $color-toolbar;
  top: 0;
  left: 252px;
  width: calc(100vw - 252px);
  border-bottom: 1px solid $color-border;
  user-select: none;
  -webkit-app-region: drag;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.toolbar__left, .toolbar__middle, .toolbar__right{
  align-items: center;
  display: flex;
}

.toolbar__left{
  flex-basis: 205px;
}

.toolbar__right{
  justify-content: flex-end;
  flex-grow: 1;
}

.toolbar__item {
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.toolbar__item:hover {
  background: $color-border;
}

.toolbar__plusIcon{
  width: 14px;
  height: 14px;
}
