.toolbar {
    height: 50px;
    background: #F6F6F6;
    top: 0;
    left: 252px;
    float: right;
    width: calc(100vw - 250px);
    border-bottom: 1px solid #E6E6E6;
    user-select: none;
    -webkit-app-region: drag;
}

.toolbar__share, .toolbar__shared, .toolbar__randomize {
    float: right;
    text-align: center;
    padding-right: 25px;
    padding-left: 10px;
    line-height: 50px;
    cursor: pointer;
}

.toolbar__share:hover, .toolbar__shared:hover, .toolbar__randomize:hover {
    background: #E9E9E9;
}
